<div class="container head-foot">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Betmaker</span>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><%= link_to "Home Page", root_path, class: "nav-link px-2 link-dark" %></li>
      <li><%= link_to "About Project", about_path, class: "nav-link px-2 link-dark" %></li>
      <li><%= link_to "Bet of the day", bets_path, class: "nav-link px-2 link-dark main-link" %></li>
      <li><%= link_to "Ratings", "#", class: "nav-link px-2 link-dark" %></li>
      <li><%= link_to "Statistic", "#", class: "nav-link px-2 link-dark" %></li>
    </ul>

    <% if !user_signed_in? %>
    <div class="col-md-3 text-end">
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary me-2", type: "button" %>
      <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-primary", type: "button" %>
    </div>
    <% else %>
    <div class="dropdown text-end">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small">
        <% if current_user.admin?%>
        <li><%= link_to "Add new BET", new_bet_path, class: "dropdown-item" %></li>
        <li><%= link_to "View all users", users_path, class: "dropdown-item" %></li>
        <% else %>
        <li><%= link_to "Add new BET", new_bet_path, class: "dropdown-item disabled-link" %></li>
        <% end %>
        <li><%= link_to "Edit account", edit_user_registration_path, class: "dropdown-item" %></li>
        <li><%= link_to "Profile", profile_user_path(current_user.id), class: "dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>
    <% end %>
  </header>
</div>
